.div,ul{
    overflow: auto;
}

.box-it-horizontal
{
    margin: 20px;
    float: left;
    border-width: 1px;
    border-color: black;
    border: solid 1px;
    height: 300px;
    padding: 10px
}

.editBtn
{
    height: 5px;
    width: 5px;
    cursor:hand;
    color: blue;
    margin-left: 20px;
}

.closeBtn
{
    height: 5px;
    width: 5px;
    cursor:hand;
    color: darkred;
    margin-left: 20px;
}
.closeBtn:hover {
    color: red;
    font-weight: bold;
}

.busy{
    background-color: whitesmoke;
    opacity: 0.8;
    float:left;
    visibility: visible;
}

.not-busy{

}

.stack-panel {
    position: relative;
    float: left;
    display: flex;
    background-color: whitesmoke;
}