@deepBlue:#21376b;
@headerHeight:80px;
@adminNavHeight:50px;
@settingsNavHeight:30px;
@testHeaderHeight:30px;
@adminNavBarColor:@deepBlue;
@navContentColor: #e8e9e8;
@headerColor:white;
@gridContainer:white;
@ulHeight:70px;
@hoverTabColor: rgba(33, 55, 107, 0.54);
@selectedTabColor:@deepBlue;
@tabHeaderColor:#5BA8C1;
@navButttonColor: #2e52a3;
@toggleMenuWidth:200px;


html,
body{
  margin:0;
  padding:0;
  font-size:14px;
}
div{
  overflow: auto;
}

.block{
  display: block;
  width:100%;
  height:100%;
}

.clear-ul{
  margin:0;
  padding:0;
  list-style: none;
  li{
    margin:0;
    padding:0;
  }
}

app{
  .block;
   .header{
     height:@headerHeight;
     background-color: @headerColor;
     display: flex;
     flex-direction: row;
     align-items: center;
     img{
       height: 80%;
     }
   }


  .admin-nav-bar{
    height: @adminNavHeight;
    background-color: @adminNavBarColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    .routeHeader{
      line-height: inherit;
      margin: 0px 20px;
      color: white;
    }
  }

  .admin-content {
    display:flex;
    flex-direction: row;
    background-color: @navContentColor;

    .left-toggle-menu{
      width: @toggleMenuWidth + 50px;
      >div:first-child{
        width: @toggleMenuWidth;
        margin-top: 20px;
        margin-left:10px;
      }
    }

    .left-toggle-menu.collapsed{
      width: 0px;
    }

    .admin-tabs-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      min-height: ~ "calc(100% - @{adminNavHeight} - @{headerHeight})" ;
      padding-top: 10px;
      width: 100%;
      >div:first-child{
         padding-top: 10px;
         width: 90%;
       }
    }

    div{
      transition: all 0.2s;
    }

  }

  .icon-title-pair{
    cursor: pointer;
    margin: 5px;
    >img{
      float:left;
      width: 40px;
    }

    >h6,h5,h4,h3,h2,h1{
      float:left;
    }

  }


  .main-content{
    padding-top:20px;
    position:relative;
    height: ~"calc(100% - @{adminNavHeight} - @{headerHeight})";
  }


  .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    margin-top:5px ;
    margin-bottom: 2px;
    background-color: white;
  }

  .menu-btn{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height:80%;
    width:250px;
    padding-left: 5px;
    background-color: @navButttonColor;
    >div:first-child{
      display:flex;
      flex-direction: row;
      align-items: center;
      width: 50px;
      height: 100%;
      margin-left: 20px;
    }
    >div:last-child{
      overflow: hidden;
      >h2{
        line-height: inherit;
        margin: 0px;
        color: white;
      }
    }

  }

  .navbar{
    height:@adminNavHeight;
    min-height:0;
    margin-bottom:0;
  }




  .test-content{
    position:relative;
    height: ~"calc(100% - @{testHeaderHeight})";
  }

  tab-control{
    width:100%;
  }


}








