@import "vars";
@import "commons";

html,
body{
  margin:0;
  padding:0;
  font-size:14px;
  background-color: @mainBackgroundColor;
}
div{
  overflow: auto;
}

app{

   .header{
     height:@headerHeight;
     background-color: @headerColor;
     .vertical-center-content;
     img{
       height: 80%;
     }
   }

  .stickToTop{
    .admin-nav-bar {
      position: fixed;
      width: 100%;
      top: 0;
    }
    .palce-holder{
      height: @adminNavHeight;
    }
  }


  .admin-nav-bar{
    height: @adminNavHeight;
    background-color: @adminNavBarColor;
    .vertical-center-content;
    >h2{
      line-height: inherit;
      margin: 0px 20px;
      color: white;
    }
  }

  .admin-content {
    display:flex;
    flex-direction: row;
    background-color: @mainBackgroundColor;

    .left-toggle-menu{
      width: @toggleMenuWidth + 50px;
      overflow:hidden;
      >div:first-child{
        width: @toggleMenuWidth;
        margin-top: 20px;
        margin-left:10px;
      }
      &.collapsed{
        width: 0px;
      }
    }


    .admin-tabs-container{
      .horizontal-center-content;
      flex-grow: 1;
      padding-top: 10px;
      width: 100%;
      >div:first-child{
         padding-top: 10px;
         width: 90%;
       }
    }

    div{
      .transition(all 0.2s);
    }

  }

  .icon-title-pair{
    cursor: pointer;
    margin: 5px;
    >img{
      float:left;
      width: 40px;
    }

    >h6,h5,h4,h3,h2,h1{
      float:left;
      color: gray;
      margin-left: 10px;
    }

  }


  .main-content{
    padding-top:20px;
    position:relative;
    height: ~"calc(100% - @{adminNavHeight} - @{headerHeight})";
  }



  .menu-btn{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height:80%;
    width:250px;
    padding-left: 5px;
    background-color: @navButttonColor;
    >div {
      &:first-child {
        .vertical-center-content;
        width: 50px;
        height: 100%;
        margin-left: 20px;
      }
      &:last-child {
        overflow: hidden;
        > h2 {
          line-height: inherit;
          margin: 0px;
          color: white;
        }
      }
    }

  }

  .navbar{
    height:@adminNavHeight;
    min-height:0;
    margin-bottom:0;
  }




  .test-content{
    position:relative;
    height: ~"calc(100% - @{testHeaderHeight})";
  }



}








