@deepBlue:#21376b;
@headerHeight:80px;
@adminNavHeight:50px;
@settingsNavHeight:30px;
@testHeaderHeight:30px;
@adminNavBarColor:@deepBlue;
@navContentColor: #e8e9e8;
@headerColor:white;
@gridContainer:white;
@ulHeight:70px;
@hoverTabColor: rgba(33, 55, 107, 0.54);
@selectedTabColor:@deepBlue;
@tabHeaderColor:#5BA8C1;

html,
body{
  margin:0;
  padding:0;
  font-size:14px;
}
div{
  overflow: auto;
}

.block{
  display: block;
  width:100%;
  height:100%;
}

.clear-ul{
  margin:0;
  padding:0;
  list-style: none;
  li{
    margin:0;
    padding:0;
  }
}

app{
  .block;
   .header{
      height:@headerHeight;
      background-color: @headerColor;
     h1{
       margin:0;
       font-size:1.4em;
       line-height:@headerHeight;
     }
   }
  .grid-container{
    background-color: @gridContainer ;
    >div:first-child{
      min-height: 200px;
    }

  }

  .content{
    background-color: @navContentColor;
  }
  .admin-nav-bar{
    height: @adminNavHeight;
    background-color: @adminNavBarColor;
  }

  .admin-tabs{
    min-height: ~ "calc(100% - @{adminNavHeight} - @{headerHeight})" ;
    background-color: @navContentColor;
  }

  .navbar{
    height:@adminNavHeight;
    min-height:0;
    margin-bottom:0;
  }

  .main-content{
    padding-top:20px;
    position:relative;
    height: ~"calc(100% - @{adminNavHeight} - @{headerHeight})";
  }

  .test-content{
    position:relative;
    height: ~"calc(100% - @{testHeaderHeight})";
  }

  admin-view{
    > div{
      &:first-child{
        padding-top: 10px;
      }
    }

  }

  tab-control{
    > ul{
      .clear-ul;
      height: @ulHeight;

      > li{
        float:left;
        display: block;
        padding:1px 15px;
        cursor: pointer;
        color: @tabHeaderColor;

        &.active{
          border-bottom-width: 8px;
          border-color: @selectedTabColor;
          border-bottom-style: solid;
          color:black;
        }

        &:hover{
          border-bottom-width: 8px;
          border-color: @hoverTabColor;
          border-bottom-style: solid;
        }

        a{
          color:#333;
          text-decoration: none;
          position: relative;
          transition: all 0.2s;
          top:0;
          h3{
            margin:0;
          }
        }
      }
    }
  }
}








