@import "../../../../less/styles";

.cmp-main {
  > div {
    &:first-child{
       input {
        width: 250px;
    }
  }

}
  busy-indicator{
    width:300px;
    flex-grow: 1;
    position: relative;
    height: 500px
  }
}

//TODO: need to move the rest of the styles to here